.primary-heading {
  color: white ;
  font-family: 'heart_breaking_badregular';
  font-size: 7rem;
}

.copyright-text {
  font-family: sans-serif;
  font-size: 1rem;
  color: white;
  text-align: center;
  display: inline-block;
  width: 100%;
}
