// colors

$green-color-dark: #355746;
$green-color-light: #3f7e37;

$white-color: #fff;
$black-color: rgba(0,0,0,0.2);

// FONT SIZE
$default-font-size: 1.6rem;

// grid
$grid-width:114rem;
$gutter-vertical: 0;
$gutter-horizontal: 1rem;
